.ProductCard-container {
  display: flex;
  flex-direction: column;
  color: black;
  border: 1px solid white;
  margin: 5px;
}

.ProductCard {
  width: calc(6rem + 15vw);
}
.ProductCard-container Img {
}

.ProductCard-details {
  display: flex;
  justify-content: space-between;
}

.ProductCard a {
  text-decoration: none;
}
